<div class="profile">
    
  <div class="profile-grid">

    <div id="greeting">
      <h2><%= userInfo.username %>'s secret spots: </h2>
      <div id="user-places">
        <ul>
          <% userInfo.places.forEach( (place) => { %>
            <li>
              <p class="item">
                <a><%= place.name %>:&nbsp&nbsp&nbsp</a>
                <span><%= place.description %></span>
                <% if (user && user.username === userInfo.username) { %>
                  <form action="/users/delete/<%=place._id %>" method="POST"><button id="btn-delete"> x </button></form>
                <% } %>
              </p>
            </li>
          <% }); %>
        </ul>
      </div>
      <div>
        <% if (user && user.username === userInfo.username) { %>
          <a href="/places/new"><button id="btn-add">Add new Place </button></a>
        <% } %>
      </div>
    </div>
  
    <div class="profile-pic">
      <img src="https://cdn0.iconfinder.com/data/icons/yummy-pc/100/yummy-pc-43-512.png"/>
      <div>
        <button id="btn-submit">Upload image</button>
      </div>
    </div>

  </div>


    
  <div id="map"></div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmbJ8OEPbJV4JMcCxvX99gRTft63IrIS0"> </script>
<script src="/javascripts/usermap.js"></script>
<script type="text/javascript"> var places = <%- JSON.stringify(userInfo.places) %> </script>
